* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    transition: 0.5s;
    -webkit-tap-highlight-color: transparent;
}

.container {
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: end;
}

.calculator {
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
}

.display {
    margin: 10px 0px;
    display: flex;
    flex: 1;
    background-color: transparent;
    text-align: end;
}

.cort .display input{
    padding: 0px 10px;
    border: none;
    font-size: 50px;
    cursor:text;
}

.calculator form input {
    width: 70px;
    height: 70px;
    font-size: 25px;
    margin: 5px;
    background-color: transparent;
    border: 1px solid rgb(85, 85, 85);
    border-radius: 10px;
    color: white;
    cursor: pointer;
    outline: none;
}

.calculator form input:hover {
    border: 1px solid rgb(255, 255, 255);
}
.cort .display input:hover {
    border: none
}
.calculator form input:active{
    transform: scale(1.1);
}
.cort .display input:active{
    transform: none;
}

form input.equal {
    width: 155px;
    background-color: orange;
    color: black;
}

form input.clu {
    color: orange;
}

/* ------------------media queries--------------------- */

@media (max-width: 374px) {

    .calculator form input {
        width: 65px;
        height: 65px;
        font-size: 25px;
        margin: 5px;
        background-color: transparent;
        border: 1px solid rgb(85, 85, 85);
        border-radius: 10px;
        color: white;
        cursor: pointer;
    }

    form input.equal {
        width: 144px;
        background-color: orange;
        color: black;
    }

    form input.clu {
        color: orange;
    }
}